@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-brand--1: #ffbd2d;
    --color-brand--2: #efefef;
    /* --color-brand--2: linear-gradient(to top left, #6fb1fc, #0052d4); */
    --color-brand--3: #6fb1fc;
    --color-brand--4: #eff7ff;
    --color-brand--5: #0052d4;

    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-dark--3: #6e6e6e;

    --color-light--1: #fafdff;
    --color-light--2: #f9f9f9;
    --color-light--3: #d4d4d4;
    --color-light--4: #888888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    color: var(--color-dark--1);
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;

    overscroll-behavior-y: none;
    background: var(--color-brand--2);
    padding: 3rem;
}

img {
    vertical-align: top;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* 1. 로그인 이전 아이콘 박스 */
.icon_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro_button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    font-size: 1.3rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.8rem;
    height: 6.5rem;
    padding: 1.2rem;
    border-radius: 1.5rem 1.5rem 1.2rem 1.2rem;
    cursor: pointer;
    position: relative;
    will-change: transform;
    transition: all 0.1s ease-in-out 0s;
    user-select: none;

    /* Add gradient shading to each side */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-position: bottom right, bottom right;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    box-shadow: inset -4px -10px 0px rgba(255, 255, 255, 0.4), inset -4px -8px 0px rgba(0, 0, 0, 0.3),
        0px 2px 1px rgba(0, 0, 0, 0.3), 0px 2px 1px rgba(255, 255, 255, 0.1);
    transform: perspective(70px) rotateX(5deg) rotateY(0deg);
}

.intro_button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 1.5rem;

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
    box-shadow: inset 4px 0px 0px rgba(255, 255, 255, 0.1), inset 4px -8px 0px rgba(0, 0, 0, 0.3);

    transition: all 0.1s ease-in-out 0s;
}

.intro_button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-position: bottom right, bottom right;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 1.5rem;

    transition: all 0.1s ease-in-out 0s;
}

.intro_button:active {
    will-change: transform;
    transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
    height: 6.4rem;
    border: 0.25px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset -4px -8px 0px rgba(255, 255, 255, 0.2), inset -4px -6px 0px rgba(0, 0, 0, 0.8),
        0px 1px 0px rgba(0, 0, 0, 0.9), 0px 1px 0px rgba(255, 255, 255, 0.2);

    transition: all 0.1s ease-in-out 0s;
}

.intro_button::after:active {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2));
}

.intro_button:active::before {
    content: '';
    display: block;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 50%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    animation: overlay 0.1s ease-in-out 0s;
    pointer-events: none;
}

.intro_button svg {
    width: 1.5rem;
    height: 1.5rem;
}

@keyframes overlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.button:focus {
    outline: none;
}

/* ////////////////////////////////////////////////////////////////////////////// */
.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-close-button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
}

.login-close-svgIcon {
    width: 1.7rem;
    transition-duration: 0.3s;
}

.login-close-svgIcon path {
    fill: white;
}

.login-close-button:hover {
    width: 12rem;
    border-radius: 5rem;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.login-close-button:hover .login-close-svgIcon {
    width: 2rem;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.login-close-button::before {
    display: none;
    content: 'Close';
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.login-close-button:hover::before {
    display: block;
    padding-right: 1rem;
    font-size: 1.3rem;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

/* 2. 로그인 박스 */
.login_box {
    max-width: 40vw;
    background: #f8f9fd;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 4rem;
    padding: 2.5rem 3.5rem;
    border: 0.5rem solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0 3rem 3rem -2rem;
    margin: 2rem;
}
.heading {
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    color: rgb(16, 137, 211);
}

.login_form {
    margin-top: 1rem;
}
.login_input {
    width: 100%;
    background: white;
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
    box-shadow: #cff0ff 0 1rem 1rem -0.5rem;
    border-inline: 0.2rem solid transparent;
}

.login_input::placeholder {
    color: rgb(170, 170, 170);
}

.login_input:focus {
    outline: none;
    border-inline: 0.2rem solid #12b1d1;
}
.login_btn {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 1.5rem;
    margin: 2rem auto;
    border-radius: 2rem;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0 2rem 1rem -1.5rem;
    border: none;

    transition: all 0.2s ease-in-out;
}

.login_btn:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0 2.3rem 1rem -2rem;
}

.login_btn:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0 1.3rem 1rem -1rem;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* 3. Wrap - 메인 화면 */
#wrap {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 0.75rem 1rem;

    position: relative;
    overflow: hidden;

    /* test */
    /* display: none; */
}

.main_box {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    padding: 3rem 2rem;

    background-color: var(--color-light--1);
    border-radius: 2rem;
}

.logo {
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    font-family: 'Work sans', sans-serif;
    font-style: italic;
    line-height: 1;
    font-size: 2vw;
    font-family: 900;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;

    color: var(--color-light--1);
    background-color: var(--color-brand--1);
}

/* ///////////////////////////////////////////////////////// */

.welcome {
    font-family: 'Pretendard', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: var(--color-dark--1);

    margin-bottom: 1rem;
}

/* btn box */
.btn_box {
    grid-row: 1 / 4;
    grid-column: 3 / 4;

    background-color: var(--color-light--1);
    border-radius: 2rem;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

/* 로그아웃 버튼
 */
.logout_btn {
    grid-row: 1 / 2;

    border: unset;
    border-radius: 2rem;
    background: var(--color-light--1);

    color: var(--color-dark--1);
    font-size: 17px;
    font-weight: 900;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition: all 0.25s;
}

.logout_btn:hover {
    background-color: var(--color-light--2);
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* 운동 추가 버튼 */
.workout_add,
.btn {
    grid-row: 2 / 3;

    border: unset;
    border-radius: 2rem;
    background: var(--color-light--1);

    color: var(--color-dark--1);
    font-size: 17px;
    font-weight: 900;

    z-index: 1;
    position: relative;
    cursor: pointer;

    transition: all 0.25s;
    overflow: hidden;
}

.workout_add::before,
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 100%;
    border-radius: 15px;
    z-index: -1;

    background-color: var(--color-brand--3);

    transition: all 0.25s;
}

.workout_add:hover,
.btn:hover {
    color: var(--color-light--2);
}
.workout_add:hover::before,
.btn:hover::before {
    width: 100%;
}

.btn {
    grid-row: 3 / 4;
}

/* ///////////////////////////////////////////////////////// */
/* 운동 기록 폼 */
.workout_form {
    background-color: var(--color-light--3);
    border-radius: 1rem;
    padding: 1.5rem 2.75rem;
    margin-bottom: 1.75rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.5rem;

    /* Match height and activity boxes */
    height: 12rem;
    transition: all 0.5s, transform 1ms;
}

.workout_form_row {
    display: flex;
    align-items: center;
}
.workout_form_label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
}
.workout_form_input {
    width: 100%;
    padding: 0.3rem 0.5rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--color-light--2);
    transition: all 0.2s;
}
.workout_form_input:focus {
    outline: none;
    background-color: #fff;
}
.workout_form_btn {
    display: none;
}

/* ///////////////////////////////////////////////////////// */
/* 운동 기록 리스트 표시 */
.workouts {
    grid-row: 1 / 7;
    grid-column: 7 / 10;

    min-width: 44rem;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;

    padding: 2rem;
    border-radius: 2rem;

    transition: height 0.5s;
    background-color: var(--color-light--1);
}
.workouts::-webkit-scrollbar {
    width: 0;
}

.workout {
    background-color: var(--color-dark--2);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    margin-bottom: 1.75rem;
    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1rem;
    color: var(--color-light--2);
    border-left: 0.7rem solid var(--color-brand--1);
}
.workout_title {
    font-size: 2rem;
    font-weight: 600;
    grid-column: 1 / -1;
}
.workout_details {
    display: flex;
    align-items: baseline;
}
.workout_icon {
    font-size: 1.5rem;
    margin-right: 0.1rem;
    height: 0.28rem;
}
.workout_value {
    font-size: 1.3rem;
    margin-right: 0.2rem;
}
.workout_unit {
    font-size: 1.1rem;
    color: var(--color-light--3);
    text-transform: uppercase;
    font-weight: 800;
}

/* ///////////////////////////////////////////////////////// */
/* 운동 이미지 업로드 박스 */
.img_box {
    grid-row: 4 / 10;
    grid-column: 1 / 4;

    position: relative;
}
.img_box img {
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 2rem;
    filter: contrast(120%);
}
/* .dot_box {
    position: absolute;
    top: 0.5vw;
    left: 1vw;
    display: flex;
    gap: 0.5vw;
}
.dot_box > li {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 100%;
    list-style-type: none;
}
.dot1 {
    background-color: #ff5f56;
}
.dot2 {
    background-color: #ffbd2d;
}
.dot3 {
    background-color: #27c93f;
} */

.btn_box2 {
    grid-row: 1 / 4;
    grid-column: 4 / 7;

    background-color: var(--color-light--1);
    border-radius: 2rem;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.btn2 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    border: unset;
    border-radius: 2rem;
    background: #efefef;

    color: var(--color-dark--1);
    font-size: 17px;
    font-weight: 900;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 250ms;
}
.btn2:hover {
    background-color: var(--color-light--3);
}
.btn2-2 {
    grid-row: 2 / 3;
}
.btn2-3 {
    grid-row: 3 / 4;
}

/* 중간 시계 */
.clock {
    grid-row: 4 / 7;
    grid-column: 4 / 7;

    background-color: var(--color-brand--5);
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Work sans', sans-serif;
    font-size: 10vw;
    font-weight: 900;
    color: var(--color-brand--4);
}

/* todo Box */
.bottom_img {
    grid-row: 7 / 10;
    grid-column: 4 / 10;

    background-color: var(--color-brand--4);
    border-radius: 2rem;

    overflow: hidden;
}
.bottom_img img {
    display: block;
    width: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* 로그인 시 step 1 */
/* logo, main_box, btn_box, btn_box2, clock */
.icon_box.hidden,
#wrap.hidden,
.logo.hidden,
.main_box.hidden,
.login.hidden,
.btn_box.hidden,
.btn_box2.hidden,
.clock.hidden {
    display: none;
}

/* img_box, bottom_img, workouts */
.img_box.hidden,
.bottom_img.hidden,
.workouts.hidden {
    display: none;
}

/* 운동 추가 버튼 클릭 시 -> workout_form hidden class 제거 */
.workout_form.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}
