@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-brand--1: #ffbd2d;
    --color-brand--2: linear-gradient(to top left, #6fb1fc, #0052d4);
    --color-brand--3: #aed4ff;

    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-dark--3: #6e6e6e;

    --color-light--2: #f9f9f9;
    --color-light--3: #d4d4d4;
    --color-light--4: #888888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    color: var(--color-dark--1);
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
    overscroll-behavior-y: none;

    background: var(--color-brand--2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

img {
    vertical-align: top;
}

/* ///////////////////////////////////////////////////////// */
/* 운동 이미지 업로드 박스 [TEST] */
.img_box {
    width: 30vw;
    /* height: 40vh; */
    border-radius: 0.3vw;
    border-top: 1.8vw solid var(--color-light--3);

    background-color: var(--color-light--);
    position: relative;

    transition: width 1s;
}
.img_box img {
    display: block;
    width: 100%;
    /* margin-top: -3rem; */
    /* border-radius: 0.5rem; */
}
.dot_box {
    position: absolute;
    top: -1.3vw;
    left: 1vw;
    display: flex;
    gap: 0.5vw;
}
.dot_box > li {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 100%;
    list-style-type: none;
}
.dot1 {
    background-color: #ff5f56;
}
.dot2 {
    background-color: #ffbd2d;
}
.dot3 {
    background-color: #27c93f;
}

/* ///////////////////////////////////////////////////////// */
/* Wrap */
#wrap {
    display: flex;
    flex-basis: 50rem;
    padding: 3rem 4rem;
    flex-direction: column;
    border-radius: 0.5rem;

    background-color: var(--color-light--2);
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);

    position: relative;
}

.logo {
    font-family: 'Work sans', sans-serif;
    line-height: 1;
    font-family: 900;
    text-transform: uppercase;

    align-self: center;
    font-size: 4rem;
    text-align: center;
    color: var(--color-brand--1);
    margin-bottom: 0.5rem;
}

/* ///////////////////////////////////////////////////////// */
/* 로그인 박스 & 환영 메세지 */
.mid_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_form {
    display: flex;
    gap: 0.8rem;
    padding-top: 2rem;
    flex-direction: column;
    margin-bottom: 2rem;
}
.login_form .login_input {
    width: 30rem;
    height: 3rem;
    background-color: #fff;
    border: none;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0 1rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
}
.login_form .login_input:focus {
    outline: none;
}
.login_form .login_btn {
    /* width: 100px; */
    line-height: 1;
    color: #fff;
    background: var(--color-light--4);
    border: none;
    cursor: pointer;

    line-height: 3rem;
    border-radius: 0.5rem;
}
.welcome {
    /* font-family: 'Nanum Pen Script', cursive; */
    font-family: 'Pretendard', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: var(--color-dark--1);

    margin-bottom: 1rem;
}

/* 로그아웃 버튼 */
.logout_btn {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: none;
    background-color: var(--color-light--3);
    cursor: pointer;
    opacity: 1;

    position: absolute;
    top: 2rem;
    right: -4rem;

    transition: all 1s ease-in-out;
}

/* 운동 추가 버튼 */
.workout_add {
    width: 10rem;
    line-height: 1;
    color: var(--color-dark--2);
    font-weight: 700;
    background: var(--color-light--2);
    border: 1px dashed var(--color-dark--3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    padding: 0.8rem 0;
    border-radius: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.2s;
}
.workout_add:hover {
    transform: translateY(-5%);
}

/* ///////////////////////////////////////////////////////// */
/* 운동 기록 폼 */
.workout_form {
    background-color: var(--color-light--3);
    border-radius: 0.3rem;
    padding: 1.5rem 2.75rem;
    margin-bottom: 1.75rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.5rem;

    /* Match height and activity boxes */
    height: 12rem;
    transition: all 0.5s, transform 1ms;
}

.workout_form_row {
    display: flex;
    align-items: center;
}
.workout_form_label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
}
.workout_form_input {
    width: 100%;
    padding: 0.3rem 0.5rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--color-light--2);
    transition: all 0.2s;
}
.workout_form_input:focus {
    outline: none;
    background-color: #fff;
}
.workout_form_btn {
    display: none;
}

/* ///////////////////////////////////////////////////////// */
/* 운동 기록 리스트 표시 */
.workouts {
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;

    transition: height 0.5s;
}
.workouts::-webkit-scrollbar {
    width: 0;
}

.workout {
    background-color: var(--color-dark--2);
    border-radius: 0.3rem;
    padding: 1.5rem 2rem;
    margin-bottom: 1.75rem;
    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1rem;
    color: var(--color-light--2);
    border-left: 0.7rem solid var(--color-brand--3);
}
.workout_title {
    font-size: 2rem;
    font-weight: 600;
    grid-column: 1 / -1;
}
.workout_details {
    display: flex;
    align-items: baseline;
}
.workout_icon {
    font-size: 1.5rem;
    margin-right: 0.1rem;
    height: 0.28rem;
}
.workout_value {
    font-size: 1.3rem;
    margin-right: 0.2rem;
}
.workout_unit {
    font-size: 1.1rem;
    color: var(--color-light--3);
    text-transform: uppercase;
    font-weight: 800;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* 로그인 시 step 1 : 환영메세지, 운동추가 버튼 hidden class 제거 */
.welcome.hidden {
    display: none;
}
.workout_add.hidden {
    display: none;
}

/* 추가 기능 : 이미지 박스 생성 */
.img_box.hidden {
    width: 0;
    /* display: none; */
}
.dot_box.hidden {
    display: none;
}

/* 로그인 시 step 2 : 로그인 폼 숨기고, 운동 리스트 높이 주기 */
.login_form.hidden {
    display: none;
}
.logout_btn.hidden {
    right: 1rem;
    opacity: 0;
    z-index: -10;
}

/* 운동 추가 버튼 클릭 시 -> workout_form hidden class 제거 */
.workout_form.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}

.workouts.hidden {
    height: 0;
}
